.modal__overlay {
  animation: var(--animation-opacity);
  background-color: rgba(43, 43, 43, 0.912);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__container {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--gray-black);
  border-radius: var(--border-radius-1);
  border: 1px solid var(--gray);
  color: var(--color-white);
}

.modal__container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.modal__container__header__close {
  background-color: transparent;
  border-radius: 0.5rem;
  color: inherit;
  cursor: pointer;
  font-size: 1.8rem;
}
.modal__container__header__close:active {
  color: var(--gray);
}
