.select_container {
    display: flex;   
    gap: 25px;
    width: 160px;
    /* height: 20px; */
    padding: 11px 16px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--body-bg);
    background-color: var(--gray);
    color: var(--color-white);
    position: relative;
  }
  .select_container button {
      cursor: pointer;
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    gap: 10px;
    font-size: 16px;
    padding: 0;
    width: min-content;
  }
  
  .select {
    position: absolute;
    right: -0.5px;
    left: -0.5px;
    top: 82%;
    display: grid;
    /* gap: 6px; */
    padding: 15px 0;
    border: 1px solid var(--body-bg);
    border-top: none;
    background-color: var(--gray);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    max-height: 120px;
    overflow-y: auto;
  }
  .option{
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  }
  .option:hover{
    background-color: var( --base-black);
  }
 
  