html {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--body-bg);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
}
@keyframes animation-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }
}
