:root {
  --body-bg: #515151;
  --base-black: #030303;
  --gray-black: #1a1a1a;
  --gray: #313131;
  --color-white: #fdfcff;
  --border-radius: 12px;
  --border-radius-1: 16px;
  --webkit-scrollbar-width: 0.9rem;
  --webkit-scrollbar-thumb-border: 1px solid var(--body-bg);

  --animation-opacity: animation-opacity 0.5s forwards;
  --transition: all 1400ms ease;
}
