.chart {
  color: var(--color-white);
}
.chart__actions {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 2rem;
}
.chart__actions__label {
  line-height: 0.5rem;
}
.chart__actions > div {
  padding: 0.6rem 1rem;
}
