.table_container {
  width: 100%;
  height: 32.4rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray);
  background: var(--gray-black);
}

.table {
  display: grid;
  align-items: flex-start;
  color: var(--color-white);
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
}
.tr_h {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: var(--base-black);
}

.table tr {
  display: flex;
  width: 100%;
  justify-content: center;
}

.table th {
  width: 100%;
  text-align: end;
}
.table th:first-child {
  text-align: start;
}

.table tbody {
  display: grid;
  gap: 1px;
  width: 100%;
}

.table > tbody > tr:nth-child(odd) {
  background-color: var(--gray);
}
.table tbody > tr {
  border: 1px solid transparent;
}

.table tbody > tr:hover {
  border: 1px solid var(--body-bg);
}

.table tbody > tr > td {
  cursor: pointer;
  width: 100%;
  text-align: end;
  padding: 0.8rem 1.4rem;
}
.table tbody > tr > td:first-child {
  text-align: start;
}

.table th {
  padding: 1rem 1.5rem;
  justify-content: flex-end;
  color: var(--color-white);
  text-align: right;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
}

@media screen and (max-width: 400px) {
  .table th {
    padding: 1rem;
  }
}
