.dropdown {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 1px solid var(--body-bg);
  border-radius: var(--border-radius);
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--gray);
  padding: 1rem 1.6rem;
}

.dropdown__head {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.dropdown__control {
  width: 100%;
}
.dropdown__arrow {
  font-size: 2.4rem;
  margin-right: 1.6rem;

  transform: rotate(90deg);
  transform-origin: center center;
}
.dropdown__placeholder {
  width: 100%;
  box-sizing: border-box;
}
.dropdown__list {
  background-color: var(--gray);
  z-index: 100;
  list-style: none;
  position: absolute;
  display: none;
  border: inherit;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  top: 100%;
  left: -1px;
  right: -1px;
  box-sizing: inherit;
  max-height: 17rem;
  overflow-y: auto;
}
.dropdown__list::-webkit-scrollbar {
  width: var(--webkit-scrollbar-width);
}
.dropdown__list::-webkit-scrollbar-track {
  margin: 0.5rem;
}
.dropdown__list::-webkit-scrollbar-thumb {
  background-color: var(--gray-black);
  border-radius: var(--border-radius);
  border: var(--webkit-scrollbar-thumb-border);
}

.dropdown__list-item {
  padding: 1rem;
  cursor: pointer;
}
.dropdown__list-item:hover {
  background-color: var(--base-black);
}

.dropdown__list-item:active {
  background-color: var(--gray);
}

.dropdown__list-item_active {
  background-color: var(--body-bg);
}
.dropdown_active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown_active > .dropdown__list {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: grid;
  gap: 1px;
  padding: 1rem 0;
}
.dropdown_active .dropdown__arrow {
  transform: rotate(270deg);
}
.dropdown__control-input {
  border: none;
  outline: none;
  width: 100%;
}
